.card-wrapper {
    margin: 5% 0;
}

.custom-circle-image {
    width: 10vw; /* note I used vw not px for better responsiveness */
    height: 10vw;
}

.custom-circle-image img {
    object-fit: cover;
}

.card-title {
    letter-spacing: 1.1px;
}

.card-text {
    font-family: MerriweatherRegular;
    font-size: 22px;
    line-height: initial;
}

.dropzone {
    border-style: dashed;
    border-color: #3498db; /* Blue color for the border */
}

.error {
    font-family: MerriweatherRegular;
    font-size: 30px;
    line-height: initial;
    color: #3498db; /* Blue color for the error text */
    text-align: center;
}

#classTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#classTable td, #classTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#classTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3498db; /* Blue color for the header background */
    color: white;
}
